.DS_Store
*.pyc
*.egg-info
*.swp
tags
berp_hrms/public/dist
berp_hrms/public/node_modules
berp_hrms/docs/current
node_modules/
dist/
__pycache__/

# build/
.vscode
.vs
node_modules
*debug.log
berp_hrms/docs/current
berp_hrms/public/frontend
berp_hrms/www/berp_hrms.html
berp_hrms/public/roster
berp_hrms/www/roster.html
